.home-container{
    height: 100%;
    width: 100%;
}

.footer-container{
    background-image: url(../../../images/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-container li, h6{
    margin-bottom: 8px;
    color: #686868;
    font-weight: 500;
}